:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  /*background: scroll center url(https://images.unsplash.com/photo-1515343480029-43cdfe6b6aae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);*/
  background: linear-gradient(to right,lightblue, yellow );
}
